.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.header{
    width: 100%;
    display: block;
    float: right;
    margin: 0px auto;
}
.header__action__item > a {
    position: relative;
    padding-left: 46px;
    min-height: 40px;
    text-align: left;
    color: inherit;
    display: block;
    text-decoration: none;
}
.wrap{
    border: 3px;
    height: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.warp>c{
    align-items: ;
}
.wrap img{
    box-sizing: content-box;
    cursor: pointer;
    display: inline;
    margin-left: 100px;
    margin-top: 10px;
}
.wrap>.q{
    background: url( 'img/icon-header-store.png') no-repeat center;
    background-size: auto 30px;
}
.searchButton {
    width: 50px;
    border: 2px solid red;
    background-color: red;
    text-align: center;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 100px;;
}
.row2{
    border: 100px;
}
.row3{
    border: 10px;
    text-align: center;
}
.row4{
    border: 10px;
    text-align: center;
}
.row5{
    text-align: center;
}
.row5>.box1{
    background-color: pink;
}
.row5>.box2{
    background-color: pink;
    color: salmon;
    margin-left: 2px;
    margin-right: 2px;
}
.row6{
    border: 10px;
    width: 100%;
    text-align: center;

}
.row7{
    text-align: center;
    width: 100%;
}
.iteam{
    margin: 2 10px 15px 6;
    width: 285px;
    background: white;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 100px;
    display: block;
    position: relative;
    float: left;
    text-align: center;
	}
    .info{
        min-height: 70px;
    }
	.iteam>img{
		width: 280px;
		margin: 30px auto 10 auto;
        text-align: center;
	}
    .span{
		padding-top: 10px;
		font-size: 20px;
		color: red;
		font-weight: 700;
        float: right 0;
	}
	.gia{
		float: center;
	}
	.giamgia {
	background: url("https://theme.hstatic.net/1000026716/1000440777/14/icon-saleoff.png") no-repeat scroll center center transparent;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	color: #180733;
	font-size: 20px;
	padding-top: 19px;
	}
    .sao{
        margin: 0 !important;
    font-size: 13px;
    line-height: 1;
    }
   
    .row11{
        text-align: center;
        border: 0px auto;
    }
    .row11>.box3{
    margin: 2 10px 15px 6;
    width: 120px;
    background: white;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    }
    .row11>.img{
        display: block;
        width: 100%;
        height: auto;
    }